/* ProgramsList.css */
.programsList {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e29090;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  .programs {
    list-style: none;
    padding: 0;
  }

  
  .programLink a{
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  