/* ProgramPage.css */
body {
    background-color: black;
}
.programPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .exercise {
    background-color: #cfcece;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .exercise h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .exercise p {
    margin: 5px 0;
  }

  
  