/* ProgramPage.css */
body {
    background-color: black;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .exercise {
    background-color: #cfcece;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .exercise h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .exercise p {
    margin: 5px 0;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  